<div class="ficha">
  <%if params[:show_id]%>
    <%= link_to 'Back', @parent, class: "button back" %>
  <%else%>
    <%= link_to 'Back', movies_path, class: "button back" %>
  <%end%>
  <div class="main-show">
    <div class="title">
      <h2><%=@movie.name%></h2>
    </div>

    <div class="buttons">
      <% if current_user %>
          <% if current_user.movies.where(id: params[:id]).first != @movie %>
            <% if params[:show_id]%>
              <%= link_to "I've seen this", seen_show_movie_path, class: "button add" %>
            <% else%>
              <%= link_to "I've seen this", seen_movie_path, class: "button add" %>
            <% end %>
          <% else %>
            <% if params[:show_id]%>
              <%= link_to "I haven't seen this", unseen_show_movie_path, class: "button delete" %>
            <% else%>
              <%= link_to "I haven't seen this", unseen_movie_path, class: "button delete" %>
            <%end%>
          <% end %>
        <% if WatchlistMovie.where(user: current_user, movie: @movie).first %>
          <%= link_to "Remove from watchlist", remove_from_watchlist_movie_path, class: "button delete" %>
        <% else %>
          <%= link_to "Add to watchlist", add_to_watchlist_movie_path, class: "button add" %>
        <% end %>
      <% end %>
    </div>

    <li>
      <span class="color_azul-ficha">Start date:</span>
      <a><%= @movie.release_date %></a>
    </li>
    <li>
      <span class="color_azul-ficha">Description:</span>
      <a><%= @movie.description %></a>
    </li>
    <li>
      <span class="color_azul-ficha">Category:</span>
      <a><%= @movie.category %></a>
    </li>

    <li>
      <span class="color_azul-ficha">Images:</span>
      <%if @movie.photo_movies.count>=1%>
        <div class="flexslider">
          <ul class="slides"> 
            <% @movie.photo_movies.each do |photo| %>
              <li>
                <%= image_tag photo.data.url %>
              </li>
            <% end %>
          </ul>
        </div>
      <%else%>
        <a>This movie doesn't have photos</a>
      <%end%>
    </li>

    <% if @trailer %>
        <div id= "video"> <%= render partial: 'layouts/youtube' %> </div>
    <% end %>

    <li>
      <span class="color_azul-ficha">Links:</span>
      <div class="images-container">
        <%= render :template => 'link_movies/index', :locals => {:parent =>@movie,:@link_movie =>@photo_links_current_user}%> 
      </div>
    </li>

    <%if current_user%>
      <div class="appeared-menu"> 
        <%= render :template => 'photo_movies/index', :locals => {:parent =>@movie,:@photo_movies =>@photo_movies_current_user}%> 
      </div>
    <%end%>
    
    <%if current_user_is_admin?%>
      <div id='modifier'>
        <%if params[:show_id]%>
          <%= link_to 'Edit this movie', edit_polymorphic_path([@parent,@movie]), class: "button edit"%> 
        <%else%>
          <%= link_to 'Edit this movie', edit_movie_path, class: "button edit"%> 
        <%end%>
        <%= link_to 'Delete this movie',[@parent,@movie], method: :delete, data: { confirm: 'Are you sure?'}, class: "button delete"%>
      </div>
    <%end%>

    <div class="drop-menu">
      <% if current_user %>
        <div class="header-drop-menu">
          <%= link_to "Write a review", "", id: "write-review", :class =>"extended", remote: true%>
          <%="|"%>
          <%= link_to "List reviews", "", id: "list-reviews", :class =>"extended", remote: true%>
          <%= "|"%>
          <%= link_to "Upload an image", "", id: "image-upload", :class =>"extended", remote: true %>
          <%="|"%>
          <%= link_to "Add a link", "", id: "link-add", :class =>"extended", remote: true %>
          <%= "|"%>
          <%= link_to "Add a Youtube video", "", id: "video-upload", :class =>"extended", remote: true %>
        </div>
        <div id="review-container" style="display: none" class="appered-menu"> <%=render 'review' %> </div>    
        <div id="form-upload-image-container" style="display: none" class="appered-menu"> <%= render :partial => 'photo_movies/form', :locals => {:@parent =>@movie,:@photo_movie =>PhotoMovie.new }%> </div>
        <div id="form-create-link" style="display: none" class="appered-menu"> <%= render :partial => 'link_movies/form', :locals => {:@parent =>@movie,:@link =>LinkMovie.new }%> </div>
        <div id="reviews" style="display: none" class="appered-menu"> <%= render partial: 'layouts/reviews' %> </div>
        <div id="video-info" style="display: none">
          <% if not @trailer %>
            <%= form_tag(add_trailer_movie_path(@movie), method: "get") do %>
              <%= text_field_tag :video_url, params[:video_url] %>
              <%= submit_tag "Send" %>
            <% end %>
          <% else %>
            <%= link_to "Remove trailer", remove_trailer_movie_path, class: "button delete"%>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>