<div class="ficha">
  <%= link_to 'Back', [@parent.series,@parent], class: "button back" %>
  <div class="main-show">
    <div class="title">
      <h2><%=@episode.name%></h2>
    </div>

    <div class="buttons">
      <% if current_user %>
        <% if @parent %>
          <% if current_user.episodes.where(id: params[:id]).first != @episode %>
            <%= link_to "I've seen this", seen_season_episode_path, :class => "button add" %>
          <% else %>
            <%= link_to "I haven't seen this", unseen_season_episode_path, :class => "button delete" %>
          <% end %>
        <% else %>
          <% if current_user.episodes.where(id: params[:id]).first != @episode %>
            <%= link_to "I've seen this", seen_episode_path, :class => "button add" %>
          <% else %>
            <%= link_to "I haven't seen this", unseen_episode_path, :class => "button delete" %>
          <% end %>
        <% end %>

        <% if WatchlistEpisode.where(user: current_user, episode: @episode).first %>
          <%= link_to "Remove from watchlist", remove_from_watchlist_episode_path, class: "button delete" %>
        <% else %>
          <%= link_to "Add to watchlist", add_to_watchlist_episode_path, class: "button add" %>
        <% end %>
      <% end %>
    </div>

    <li>
      <span class="color_azul-ficha">Release:</span>
      <a><%= @episode.release_date %></a>
    </li>
    <li>
      <span class="color_azul-ficha">Description:</span>
      <a><%= @episode.description %></a>
    </li>

    <li>
      <span class="color_azul-ficha">Pictures:</span>
      <%if @episode.photo_episodes.count>0%>
      <div class="flexslider">
        <ul class="slides"> 
          <% @episode.photo_episodes.each do |photo| %>
            <li>
              <%= image_tag photo.data.url %>
            </li>
          <% end %>
        </ul>
      </div>
      <%else%>
        <a>This episode doesn't have photos</a>
      <%end%>
    </li>

  <% if @trailer %>
      <div id= "video"> <%= render partial: 'layouts/youtube' %> </div>
  <% end %>

  <li>
    <span class="color_azul-ficha">Links:</span>
    <div class="images-container">
      <%= render :template => 'link_episodes/index', :locals => {:parent =>@episode,:@link_episodes =>@photo_links_current_user}%> 
    </div>
  </li>

  <%if current_user%>
    <div class="appeared-menu"> 
      <%= render :template => 'photo_episodes/index', :locals => {:parent =>@episode,:@photo_episodes =>@photo_episodes_current_user}%> 
    </div>
  <%end%>

  <%if current_user_is_admin?%>
    <div id='modifier'>
      <%= link_to 'Edit this episode', edit_polymorphic_path([@parent, @episode]), class: "button edit"%> 
      <%= link_to 'Delete this episode', [@parent, @episode], method: :delete, data: { confirm: 'Are you sure?' } , class: "button delete"%>
    </div>
  <%end%>

  <div class="drop-menu">
    <% if current_user %>
      <div class="header-drop-menu">
        <%= link_to "Write a review", "", id: "write-review", remote: true %>
        <%= "|"%>
        <%= link_to "List reviews", "", id: "list-reviews", :class =>"extended", remote: true%>
        <%= "|"%>
        <%= link_to "Upload an image", "", id: "image-upload", :class =>"extended", remote: true %>
        <%= "|"%>
        <%= link_to "Add a Youtube video", "", id: "video-upload", :class =>"extended", remote: true %>
        <%= "|"%>
        <%= link_to "Add a link", "", id: "link-add", :class =>"extended", remote: true %>
      </div>
    <div id="video-info" style="display: none" class="appered-menu">
      <% if not @trailer %>
        <%= form_tag(add_trailer_episode_path(@episode), method: "get") do %>
          <%= text_field_tag :video_url, params[:video_url] %>
          <%= submit_tag "Send" %>
        <% end %>
      <% else %>
        <%= link_to "Remove trailer", remove_trailer_episode_path, class: "button delete"%>
      <% end %>
    </div>
    <div id="review-container" style="display: none"> <%=render 'review' %> </div>
    <div id="form-upload-image-container" style="display: none" class="appered-menu">
    <%= render :partial => 'photo_episodes/form', :locals => {:@parent =>@episode,:@photo_episode =>PhotoEpisode.new }%> </div>
    <div id="form-create-link" style="display: none" class="appered-menu"> 
    <%= render :partial => 'link_episodes/form', :locals => {:@parent =>@episode,:@link =>LinkEpisode.new }%>
   </div>
  <div id="reviews" style="display: none" class="appered-menu">
    <%= render partial: 'layouts/reviews' %>
  </div>
  <% end %>
  </div>
</div>
