<ul>
	<li> <%= link_to "Shows", watchlist_shows_path %> </li>
	<li> <%= link_to "Películas", watchlist_movies_path %> </li>
	<li> <%= link_to "Series", watchlist_series_path %> </li>
	<li> <%= link_to "Temporadas", watchlist_seasons_path %> </li>
	<li> <%= link_to "Episodios", watchlist_episodes_path %> </li>
</ul>