<p id="notice"><%= notice %></p>

<p>
  <strong>Path:</strong>
  <%= @photo_season.path %>
</p>

<p>
  <strong>Show:</strong>
  <%= @photo_season.show %>
</p>

<%= link_to 'Edit', edit_photo_season_path(@photo_season) %> |
<%= link_to 'Back', photo_seasons_path %>
